* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    list-style: none;
    background-image: url(../multimedia/6173954.jpg);
    background-position:center;
    background-size:100%;
    background-color: rgba(225, 238, 239, 0.732);
    opacity: 95%;
    height: 100vh;
    width:auto;
}
a:link, a:visited, a:active {
    text-decoration:none;
}

/*Barra de navegacion*/

#navbar {
    background-color: rgb(84, 134, 134) ;
}


#navbar img{
    margin-bottom: 10px;
}
/*Pie de pagina*/
#pie-conteiner{
    background-color: rgba(255, 255, 255, 0.069);
    margin: 0.5rem;
}
.pie-de-pagina{
    padding: 1rem;
}
.pie-de-pagina li{
    padding: 4px;
    list-style: none;
}
.pie-de-pagina a{
    color: white;
}
#imagen-pie{
    height: 10rem;
    background-color: rgba(255, 255, 255, 0.069); 
}
/*Index*/
.carousel-inner{
    max-height: 700px;
}

#card{
    background-color: rgba(255, 255, 255, 0);
color: rgba(140, 170, 166, 0.938);
}
#card img{
    height: 20rem;
}

/*Buscar*/

.buscadorlateral {
    padding: 15px;
    background-color: rgb(84, 134, 134);
    color: rgb(255, 255, 255);
    border-radius: 1em; 
    border: 2px solid black;

}

.filtros{
    background-color: rgb(55, 104, 104);
}
.buscadorlateral input{
    background-color: rgb(212, 245, 245);
}

#banner{
    background-color: rgba(255, 255, 255, 0.069);
}

#banner-text{
    color: white;
    display: flex;
    justify-content: center;
}
.navbar-text{
    color: white;
}
/*Registrarse*/

.form-ingresg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    color: rgba(255, 255, 255, 0.902);
    background-color:rgb(83, 124, 133);
    border-radius: 1em;
}

.form-ingresg input{
    border: 0;
    border-radius: 1em;
    background-color: rgb(212, 245, 245);
}

.form-registrarse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 108, 108, 0.741);
    max-width: 600px;
    border-radius: 1em;
}

.form-registrarse input {
    border: 0;
    border-radius: 1em;
    padding: 5px;
    background-color: rgba(152, 214, 214, 0.939);
}

/*Contacto*/

#contacto {   
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(112, 182, 182, 0.466);

}

.contacto input {
    border-radius: 1em;
    background-color: rgb(103, 149, 149);
}

#consulta{
    border-radius: 1em;
}

/*Orientacion*/


.Introduccion{
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: rgba(255, 255, 255, 0.069);

}
.Introduccion span{
    font-size: 50px;
    border-radius: 1em;
    padding: 10px;
    color: white;
    background-color: rgb(93, 146, 146);
}
.Introduccion p{
    margin: 20px;
}

#Psicotarjeta {
    justify-self: center;
    border-radius: 1em;
    background-color:  rgb(93, 146, 146);
    overflow: hidden;
}

.portadapsic{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(75, 165, 165) ;
}

.portadapsic img{
    width: 400px;
    height: 300px;
    overflow: hidden;

}


.infopsic{
    display: flex;
    flex-direction: column;
    height:0px;
    text-align: center;
    justify-content: center;
    background-color:  rgba(50, 84, 84, 0.62);
    overflow: hidden;
}

.infopsic h3{
    margin: 20px;
}

#Psicotarjeta:hover div.portadapsic{
    height: 0px ;
    width: 0px;
}

#Psicotarjeta:hover div.infopsic{
    height:300px;
}

#cognitarjeta{
    justify-self: center;
    border-radius: 1em;
    background-color:  rgb(93, 146, 146);
    overflow: hidden;

}

.portadacogni{    
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(75, 165, 165) ;

}
.portadacogni img{
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.infocogni{
    display: flex;
    flex-direction: column;
    height: 0px;
    text-align: center;
    justify-content: center;
    background-color:  rgba(50, 84, 84, 0.62);
    overflow: hidden; 
}

.infocogni h3{
    margin:20px;
}

#cognitarjeta:hover div.portadacogni{
    height: 0px ;
    width: 0px;
}

#cognitarjeta:hover div.infocogni{
    height:300px;

}


@media screen and (max-width: 1080px) {
    #Psicotarjeta:active div.portadapsic{
        height: 0px ;
        width: 0px;
    }
    
    #Psicotarjeta:active div.infopsic{
        height:500px;
    
    }

    #cognitarjeta:active div.portadacogni{
        height: 0px ;
        width: 0px;
    }
    
    #cognitarjeta:active div.infocogni{
        height:500px;
    
    }
}