body{
    list-style: none;
    background-image: url(../multimedia/6173954.jpg);
    background-position:center;
    background-size:contain;
    opacity: 95%;
    height: 100vh;
}
a:link, a:visited, a:active {
    text-decoration:none;
}