$navbar-color : rgb(84, 134, 134);
$fondo-tranparente : rgba(255, 255, 255, 0.069);
$color-input : rgb(212, 245, 245);
$rounded : 1em;
$color-parrafo: rgba(179, 209, 214, 0.833);
$color-botonPositivo : rgb(5, 164, 172);
$color-botonNegativo : rgba(0, 0, 0, 0.441);
$color-botonAlternativo : rgb(173, 238, 248);